.App {
  margin: 0px;
  padding: 0px;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
h1 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
